API_ADDR=:8081

# to connect to supabase database server directly
DATABASE_URL=postgres://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-eu-north-1.pooler.supabase.com:5432/postgres

# for admin to be able to use the admin API routes
ADMIN_TOKEN=your-admin-token-here
