GATEWAY_ADDR=:8080

# standard port for socks5
SOCKS5_ADDR=:1080

# to connect to supabase database server directly
DATABASE_URL=postgres://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
